@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,250;14..32,700&family=Playfair+Display:wght@750;800;1000&display=swap");

.playfair-display-header {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}

.playfair-display-header-2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}
